/*Hero*/

* {
  box-sizing: border-box;
}

body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 32px;
}

.hero > img {
  width: 220px;
  border-radius: 50%;
}

.hero-links{
    align-items: end;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.hero-links p{
    font-size: small;
    margin: 0;
    padding: 0;
}

.hero-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.hero-links li {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
}

.hero-links li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.hero-links a, .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    transition: width 0.3s ease;
}

.hero-links a img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.hero-links a span, .links span {
  white-space: nowrap;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hero:not(.shrink) .hero-links a:hover,
.hero:not(.shrink) .links:hover {
    width: 15rem;
}

.hero:not(.shrink) .hero-links a:hover span,
.hero:not(.shrink) .links:hover span {
    opacity: 1;
    transform: translateX(0);
}
.tech {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.tech img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.hero-nav {
  display: none;
}
/* Shrinks */

.hero.shrink, .hero-links.shrink {
  display: flex;
  flex-direction: row;
  height: 1rem;
  max-width: 100%;
  width: 100%;
  margin-top: 0;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  border: solid 1px red;
  background-color: #111;
  z-index: 10;
}
.hero-nav.shrink {
  display: flex;
  flex-direction: row;
}
.hero-nav.shrink ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
.hero.shrink img {
  width: 48px;
  height: 48px;
}

.hero-links p.shrink, .hero img.shrink, .tech.shrink {
  display: none;
}

h1.shrink {
  font-size: 1rem;
  margin-left: 0;
  margin-top: 0;
}
.hero-links.shrink ul{
  flex-direction: row;
  gap: 8px;
  margin-top: 0;
}

.menu-nav.shrink {
  display: none;
}



/*Menu navegação*/

.menu-nav {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}
#menu-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 16px;
}

#menu-nav li {
  display: inline-block;
  border: 1px solid yellow;
  padding: 8px 16px;
  border-radius: 4px;
}
/*Projetos*/

h3 {
  margin-top: 32px;
  text-align: center;
  font-size: 2rem;
}

#project-image {
  width: 20%;
  max-width: 600px;
  height: auto;
  display: block;
}

#project-description {
  margin-top: 16px;
  text-align: center;
  font-size: 1.2rem;
}

#project-tech {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

#project-tech  img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

#project-site, #project-github {
  display: inline-block;
  margin: 16px;
  padding: 8px 16px;
  background-color: yellow;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}


/*Galeria*/
.project-card {
  background: #222;
  border: 1px solid yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid green;
  align-items: center;
}

.project-card img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  justify-content: space-between;
  display: flex;
  border: 1px solid blue;
  margin: 1rem;
}

#project-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
#gallery-preview-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  border: 1px solid purple;
}

#gallery-preview{
  width: 60%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 16 / 9;
  margin: 1rem;
  opacity: 1;
  transition: opacity 0.8s ease, transform 0.8s ease;

}

#gallery-preview-text{
  margin-top: 8px;
  font-size: large;
  text-align: center;
  border: solid red;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 1rem;
  padding: 1rem;
  opacity: 1;
  transform: translateY(0);
  transition:
      opacity .25s ease,
      transform .25s ease;
}
#gallery-preview-text.fade {
    opacity: 0;
    transform: translateY(-10px);
}

#gallery-preview-container p{
  margin-top: 8px;
  font-size: large;
  text-align: center;
  width: 40%;
}
.fade {
  opacity: 0 !important;

}

#gallery-thumbs{
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

#gallery-thumbs img {
  width: 6rem;
  height: 4rem;
  object-fit: contain;
  cursor: pointer;
  border: solid 0.5px;
}

#gallery-thumbs p {
  display: none;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.project-part {
    opacity: 0;
    transform: translateY(20px);
}

.project-part.show {
  opacity: 1;
  transform: translateY(0);
  transition:
      opacity .6s ease,
      transform .6s ease;
}



@media (max-width: 700px) {

  .hero{
    display: flex;
    flex-direction: column;
}
#project-gallery{
  display: flex;
  flex-direction: column;
}

.gallery-preview-container{
  flex-direction: column;
}
#gallery-preview{
  width: 100%;
  height: auto;  
}
}
