/* ==========================
   ROOT
========================== */

:root {

  /* cores */
  --cor-azul: #007bff;
  --cor-verde: #3ab826;
  --cor-verde-hover: #29801c;
  --cor-vermelho: #dc3545;
  --cor-vermelho-hover: #92242f;
  --cor-amarelo: yellow;
  --cor-amarelo-hover: #926f06;
  --cor-preto: black;
  --cor-branco: #ffffff;
  --cor-cinza: #f0f0f0;
  --cor-cinza-hover: #2f2f2f;
  --cor-header: black;
  --cor-form: white;
  --cor-form2: #f0f0f0;
  --cor-font: black;
  --cor-ending-p:#2424246a;

  /* ------------------ Espaçamentos ------------------ */
  --space-no: 0;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;

  /* ------------------ Estrutura ------------------ */
  --header-h: clamp(3rem, 8vw, 10rem);
  --header-h-shrink: 2.5rem;

  --menu-h: 2rem;
  --menu-h-shrink: 1.5rem;

/* ------------------ Tipografia ------------------ */
--font-title: clamp(1.2rem, 2.5vw, 2rem);
--font-subtitle: clamp(1rem, 2vw, 1.4rem);
--font-intro: clamp(0.9rem, 2vw, 1.5rem);
--font-ending: clamp(0.7rem, 2vw, 1.5rem);
--font-text: 1rem;
--font-text-mobile: 0.5rem;

--lh-tight: 1.2;
--lh-normal: 1.6;
--lh-loose: 1.75;

--measure-text: 65ch;
--measure-title: 30ch;

--gap-1: 1rem;
--gap-2: 2rem;
--gap-3: 3rem;
/* ------------------ Layout ------------------ */
  --layout-gap: var(--space-xs);
  --container-max: 1200px;
  --layout-max: 1200px;
  --layout-padding: min(1rem, 4vw);
  --float-size: 5rem;
  --float-size-mk-2: 6rem;
  --header-secao-mobile: 0rem;
  --header-secao-shrink: 5rem;

  --hero-height-shrink: 4rem;
}

/* ==========================
   BODY / LAYOUT
========================== */

*{
    outline:1px solid rgba(255,0,0,.2);
}
body {
  background: var(--cor-preto);
  color: var(--cor-branco);
  margin: 0;
  /*overflow-x: hidden;*/
  max-width: 100%;
  width: 100%;
}

main{

    max-width:1200px;
    margin:auto;
    padding:0 var(--space-sm);

}
/* ==========================
   HERO
========================== */

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-1);

  width: 100%;
  max-width: 100%;
  min-height: 20rem;
  overflow: hidden;

  margin: 0 auto;
  padding: 2rem;

  transition: .3s ease;
  
}
#hero-image{
  border: solid 2px yellow;
  width: 30%;
  aspect-ratio: 1;
  border-radius: 10%;
}

.hero p, h1{
  margin: 0;
}

.hero-feats{
  border: solid 2px blue;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-links li{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem 0;
  list-style: none;
}

.hero-links a, .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;

  color: var(--cor-branco);
  margin: 0;

  text-decoration: none;
  
}

.hero-links img{
  width: 32px;
  aspect-ratio: 1;
}

.hero-links a span, .links span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.tech{
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.tech img {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 20%;
}
/* ==========================
   NAV
========================== */
.hero-nav {
  display: none;
}

.menu-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-nav a{
  text-decoration: none;
}

.menu-nav ul{
  display: flex;
  flex-direction: row;

  gap: var(--gap-1);
  
  list-style: none;
}

.menu-nav li{
  border: solid;
  padding: 0.5rem;
  border-radius: 30%;
}

/* ==========================
   SECTIONS
========================== */

main{
  display: none;
}
.hero:not(.shrink) .hero-links a:hover,
.hero:not(.shrink) .links:hover {
    width: 15rem;
}

.hero:not(.shrink) .hero-links a:hover span,
.hero:not(.shrink) .links:hover span {
    opacity: 1;
    transform: translateX(0);
}
/*Hero

*{
    outline:1px solid rgba(255,0,0,.2);
}

body {
  background: var(--cor-preto);
  color: var(--cor-branco);
  margin: 0;
  /*overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-links{
    align-items: end;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.hero-links p{
    font-size: var(--font-intro);
    margin: 0;
    padding: 0;
/*
        opacity:1;
    transform:translateY(0);

    transition:
        opacity .3s ease,
        transform .3s ease;
}

.hero-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.hero-links li {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
}

.hero-links li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.hero-links a, .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  /*overflow: hidden;
  text-decoration: none;
  color: white;
  transition: width 0.3s ease;
}

.hero-links a img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  
}

.hero-links a span, .links span {
  white-space: nowrap;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hero:not(.shrink) .hero-links a:hover,
.hero:not(.shrink) .links:hover {
    width: 15rem;
}

.hero:not(.shrink) .hero-links a:hover span,
.hero:not(.shrink) .links:hover span {
    opacity: 1;
    transform: translateX(0);
}
.tech {
  display: flex;
  gap: 12px;
  margin-top: 16px;

      opacity:1;
    transform:translateY(0);

    transition:
        opacity .3s ease,
        transform .3s ease;
}

.tech img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.hero-nav {
  display: none;
}
 Shrinks  

.hero.shrink, .hero.shrink .hero-links {
  display: flex;
  flex-direction: row;
  height: var(--hero-height-shrink);
  max-width: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border: solid 1px red;
  background-color: #111;
  z-index: 10;
  gap: 0.5rem;
  white-space: nowrap;
  transition:
    padding .35s ease,
    gap .35s ease,
    background-color .35s ease;
}
.hero.shrink{
  position: sticky;
}

.hero.shrink .hero-links nav li a{
  width: auto;
}

.hero.shrink .hero-links a, .hero.shrink .links {
  width: 2rem;
  padding: 0.5rem;
}
.hero.shrink .hero-nav {
  display: flex;
  flex-direction: row;
}
.hero.shrink .hero-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
/*
.hero.shrink img {
  width: 48px;
  height: 48px;
} 

.hero.shrink #hero-image, .hero.shrink .hero-links p, .hero.shrink .tech {
  display: none;
}

.hero.shrink h1 {
  font-size: 1rem;
  margin-left: 0;
  margin-top: 0;
}
.hero.shrink .hero-links ul{
  flex-direction: row;
  gap: 8px;
  margin-top: 0;
}

.hero.shrink .menu-nav {
  display: none;
}



/*Menu navegação 

.menu-nav {
  display: flex;
  justify-content: center;
  gap: 16px;
  /*margin-top: 32px;
      opacity:1;
    transform:scale(1);

    transition:
        opacity .35s ease,
        transform .35s ease,
        width .35s ease; 
}
#menu-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 16px;
}

#menu-nav li {
  display: inline-block;
  border: 1px solid yellow;
  padding: 8px 16px;
  border-radius: 4px;
}
/* -------------------------------- About section --------------------------------   

h3 {
  margin-top: 32px;
  text-align: center;
  font-size: 2rem;
}
#about {
  margin-top: var(--hero-height-shrink)+var(--space-lg);
  text-align: center;
  font-size: 1.2rem;
  scroll-margin-top: 4rem;
}
/* -------------------------------- Projetos section ------------------------------  

#project-image {
  width: 20%;
  max-width: 600px;
  height: auto;
  display: block;
}

#project-description {
  margin-top: 16px;
  text-align: center;
  font-size: 1.2rem;
}

#project-tech {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

#project-tech  img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

#project-site, #project-github {
  display: inline-block;
  margin: 16px;
  padding: 8px 16px;
  background-color: yellow;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}


/*Galeria 
.project-card {
  background: #222;
  border: 1px solid yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid green;
  align-items: center;
}

.project-card img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  justify-content: space-between;
  display: flex;
  border: 1px solid blue;
  margin: 1rem;
}

#project-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
#gallery-preview-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  border: 1px solid purple;
}

#gallery-preview{
  width: 60%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 16 / 9;
  margin: 1rem;
  opacity: 1;
  transition: opacity 0.8s ease, transform 0.8s ease;

}

#gallery-preview-text{
  margin-top: 8px;
  font-size: large;
  text-align: center;
  border: solid red;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 1rem;
  padding: 1rem;
  opacity: 1;
  transform: translateY(0);
  transition:
      opacity .25s ease,
      transform .25s ease;
}
#gallery-preview-text.fade {
    opacity: 0;
    transform: translateY(-10px);
}

#gallery-preview-container p{
  margin-top: 8px;
  font-size: large;
  text-align: center;
  width: 40%;
}
.fade {
  opacity: 0 !important;

}

#gallery-thumbs{
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

#gallery-thumbs img {
  width: 6rem;
  height: 4rem;
  object-fit: contain;
  cursor: pointer;
  border: solid 0.5px;
}

#gallery-thumbs p {
  display: none;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.project-part {
    opacity: 0;
    transform: translateY(20px);
}

.project-part.show {
  opacity: 1;
  transform: translateY(0);
  transition:
      opacity .6s ease,
      transform .6s ease;
}



@media (max-width: 700px) {

  .hero{
    display: flex;
    flex-direction: column;
}
#project-gallery{
  display: flex;
  flex-direction: column;
}

.gallery-preview-container{
  flex-direction: column;
}
#gallery-preview{
  width: 100%;
  height: auto;  
}
}
*/