/* ==========================
   ROOT
========================== */

:root {

/* ==========================
    Cores
========================== */

  --cor-primaria: #2563eb;
  --cor-primaria-hover: #1d4ed8;

  --cor-fundo: #ffffff;
  --cor-fundo-soft: #eaf2ff;
  --cor-superficie: #f8fafc;
  --cor-card: #ffffff;

  --cor-titulo: #000205;
  --cor-texto: #2563eb;
  --cor-texto-secundario: #fff;

  --cor-borda: #dbe4ee;
  --cor-borda-box: #000205;

  --cor-sucesso: #3ab826;
  --cor-erro: #dc3545;
  --cor-aviso: #eab308;

  --cor-white-black: white;
  --cor-black-white: black;

/* ==========================
    Layout
========================== */

  --container-width: 1200px;

  --header-height: 4rem;
  --hero-height: 22rem;
  --hero-shrink-height: 4rem;

  --section-spacing: 4rem;

/* ==========================
    Espaçamentos
========================== */

  --space-2xs: .25rem;
  --space-xs: .5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-2xl: 5rem;

/* ==========================
    Gaps
========================== */

  --gap-sm: .5rem;
  --gap-md: 1rem;
  --gap-lg: 2rem;
  --gap-xl: 3rem;

/* ==========================
    Bordas
========================== */

  --radius-sm: .5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-pill: 999px;

/* ==========================
    Sombras
========================== */

  --shadow-sm: 0 2px 8px rgba(0,0,0,.06);
  --shadow-md: 0 8px 24px rgba(0,0,0,.08);
  --shadow-lg: 0 16px 40px rgba(0,0,0,.12);

/* ==========================
    Tipografia
========================== */

  --font-title: clamp(2rem, 5vw, 3.5rem);
  --font-h2: clamp(1.6rem, 3vw, 2.3rem);
  --font-subtitle: clamp(1rem, 2vw, 1.3rem);

  --font-text: 1rem;
  --font-small: .875rem;

  --line-height: 1.6;

  --measure-text: 65ch;

/* ==========================
    Transições
========================== */

  --transition-fast: .2s ease;
  --transition: .3s ease;
  --transition-slow: .5s ease;

  /* ==========================
    Opacidade
========================== */

  --opacidade-button: 0.3;
}

body.dark {
    /* dark */

  --cor-primaria: #fff;
  --cor-primaria-hover: #c6c8cd;

  --cor-fundo: #111;
  --cor-fundo-soft: #eaf2ff;
  --cor-superficie: #f8fafc;
  --cor-card: #222;

  --cor-titulo: #fff;
  --cor-texto: #fff;
  --cor-texto-secundario: #000205;

  --cor-borda: #dbe4ee;
  --cor-borda-box: #fff;

  --cor-sucesso: #3ab826;
  --cor-erro: #dc3545;
  --cor-aviso: #eab308;
  --cor-white-black: black;
  --cor-black-white: white;
  
  --opacidade-button: 1;
}
/* ==========================
   BODY / LAYOUT
========================== */
/*
*{
    outline:1px solid rgba(255,0,0,.2);
}*/
*,
*::before,
*::after{
  box-sizing:border-box;
}
html {
    scroll-behavior: smooth;
}
body {
  background: var(--cor-fundo);
  color: var(--cor-primaria);
  margin: 0;
  padding: 0;
  /*overflow-x: hidden;*/
  max-width: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;

}

main{
  max-width:1200px;
  margin:auto;
  padding:0 var(--space-sm);

}
.container{

  max-width:var(--container-width);

  margin:auto;

  padding-inline:var(--space-md);

}
.divider {
  width: 70%;
  height: 2px;
  background: #dbe4ee;
  margin: 1% 15%;
}

/* ==========================
  CONTROLS
========================== */
.floating-settings{
  display: none;
}
.site-controls{

  position:fixed;

  top:0.5rem;
  right:0.5rem;

  display:flex;
  gap:.5rem;

  z-index:999;
}


.site-controls button{
  background-color: var(--cor-primaria);
  border-radius: 20px;
  border: solid transparent;
  color: var(--cor-texto-secundario);
  cursor: pointer;
}
#language-button{
  padding: 0.2rem;
}
#theme-button{
  display: flex;
  align-items: center;
  background-color: transparent;
}

.theme-switch{

  width:50px;
  height:26px;

  border-radius:20px;

  background-color: var(--cor-primaria);
  position:relative;
}

.theme-ball{

  width:20px;
  height:20px;

  border-radius:50%;

  background:var(--cor-texto-secundario);

  position:absolute;

  top:3px;
  left:3px;

  transition:.3s;
}

body.dark .theme-ball{
  left:27px;
}
/* ==========================
  HEADER
========================== */

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.2rem;
}

/* ==========================
   HERO
========================== */

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--cor-fundo);
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding-right: 20%;
  margin: 0 auto;

  transition: .3s ease;
  
}
#hero-image{
  width: 25%;
  aspect-ratio: 1;
  border-radius: 10%;
  background-color: var(--cor-fundo-soft);
  
}

.hero p, .hero h1{
  margin: 0;
  color: var(--cor-titulo);
  justify-content: flex-end;
  display: flex;
}

.hero-feats{
  width: 50%;

  color: var(--cor-texto-secundario);
}

.hero-links li{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem 0;
  list-style: none;
}

.hero-links a, .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;

  color: var(--cor-branco);
  margin: 0;

  text-decoration: none;
 
}

.hero-links img{
  width: 32px;
  aspect-ratio: 1;
  background-color: var(--cor-fundo-soft);
  border-radius: 20%;
}

.hero-links a span, .links span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: var(--cor-primaria);
  
}

/* ==========================
   NAV
========================== */
.hero-nav {
  display: none;
}

.menu-nav{
  display: flex;
  align-items: center;
  justify-content: center;

  transition: .3s ease;
}

.menu-nav a{
  text-decoration: none;
  color: var(--cor-texto-secundario);
}

.menu-nav ul{
  display: flex;
  flex-direction: row;

  gap: var(--gap-md);
  
  list-style: none;
}

.menu-nav li{
  width: auto;
  border: solid 2px;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: var(--cor-primaria);
  border: solid transparent;
  color: var(--cor-texto-secundario);
  cursor: pointer;
  
}

/* ==========================
  HOVER
========================== */

.site-controls button:hover,.menu-nav li:hover, .menu-nav a:hover, .menu-nav-shrink li:hover, .menu-nav a:hover, #project-site:hover, #project-github:hover{
  background-color: var(--cor-primaria-hover);
}

/* ==========================
  SHRINK
========================== */
.hero:not(.shrink) .hero-links a:hover,
.hero:not(.shrink) .links:hover {
  width: 17rem;
}

.hero:not(.shrink) .hero-links a:hover span,
.hero:not(.shrink) .links:hover span {
  opacity: 1;
  transform: translateX(0);
}

#hero-shrink{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding-right: 20%;
  
  max-width: 100%;
  width: 100%;
  height: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  white-space: nowrap;

  transition:
  opacity .3s ease,
  visibility .3s ease,
  padding .35s ease,
  gap .35s ease,
  background-color .35s ease;

  background-color: var(--cor-fundo);

}

.hero-feats-shrink{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width:100%;
  height: 3rem;
  
}
.hero-shrink h1 {
  font-size: 1rem;
  margin: 0
}

.menu-nav-shrink li{

  padding: 0.3rem;
  border-radius: 20px;
  background-color: var(--cor-primaria);
  border: solid transparent;
  color: var(--cor-texto-secundario);
  cursor: pointer;
}

.hero-links-shrink{
  display: flex;
  flex-direction: row;
  width: 100%;

  text-decoration: none;
  
}

.hero-links-shrink img{
  max-width: 2rem;
  aspect-ratio: 1;
}


.hero-feats-shrink ul{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  
  list-style: none;
}
.hero-feats-shrink a{
  text-decoration: none;
  color: var(--cor-branco);
}

#hero-shrink.show{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
#hero{
    transition: opacity .3s ease;
}

#hero.hide, #menu-nav.hide{
    opacity: 0;
}
/* ==========================
   SECTIONS
========================== */
.tech{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tech img {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 20%;
}

h2{
  text-align: center;
}
h3 {
  margin-top: 32px;
  text-align: center;
  font-size: 2rem;
}

section{
  text-align: justify;
  padding-block: var(--section-spacing);
  opacity:0;
  line-height: var(--line-height);

  transform:translateY(30px);
  transition:.6s ease;

}

section.show{
  padding: 2rem;
  opacity:1;
  transform:translateY(0);

}
/*------------------Projects---------------------------*/
#project-image {
  width: 20%;
  max-width: 600px;
  height: auto;
  display: block;
  white-space: pre-line;
}

#project-description {
  margin-top: 16px;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;

}

#project-tech {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 4rem
}

#project-tech  img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

/*Galeria*/ 
.project-card {

  display: flex;
  align-items: center;
  justify-content: center;
}

.project-figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid green;
  align-items: center;
}

.project-card img {
  width: 10rem;
  height: auto;
  object-fit: contain;
  justify-content: space-between;
  display: flex;
  border: 1px solid var(--cor-primaria);
  border-radius: 50%;
  background-color: #111;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px var(--cor-borda-box);
  aspect-ratio: 1;
}

#project-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery-preview-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

#gallery-preview{
  width: 60%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 16 / 9;
  margin: 1rem;
  opacity: 1;
  transition: opacity 0.8s ease, transform 0.8s ease;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--cor-borda-box);


}
.gallery-title-text{
  display: flex;
  flex-direction: column;
}

#gallery-preview-text{
  margin-top: 8px;
  font-size: large;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 1rem;
  padding: 1rem;
  opacity: 1;
  transform: translateY(0);
  transition:
      opacity .25s ease,
      transform .25s ease;

}
#gallery-preview-text.fade {
    opacity: 0;
    transform: translateY(-10px);
}

#gallery-preview-container p{
  margin-top: 8px;
  font-size: large;
  text-align: center;
  width: 40%;
}
h4 {
  font-size: var(--font-subtitle);
  display: flex;
  justify-content: center;
}
.fade {
  opacity: 0 !important;

}

#gallery-thumbs{
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

}

#gallery-thumbs img {
  width: 6rem;
  height: 4rem;
  object-fit: contain;
  cursor: pointer;
  border: solid 0.5px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--cor-borda-box);
}

#gallery-thumbs p {
  display: none;
}

#project-site, #project-github {
  display: inline-block;
  margin: 16px;
  padding: 8px 16px;
  background-color: var(--cor-primaria);
  border-radius: 10px;
  border: solid transparent;
  color: var(--cor-texto-secundario);
  cursor: pointer;
  text-decoration: none;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.project-part {
  opacity: 0;
  transform: translateY(20px);
}

#tech-title {
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}

.project-part.show {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity .6s ease,
    transform .6s ease;
}

.formations{
  margin-bottom: 6rem;
}

#formation-text{
  justify-content: center;
  display: flex;
  padding: 2rem;
}

footer{
  justify-content: center;
  display: flex;
}

/* MOBILE */
@media (max-width: 768px) {
/*---------- SETTINGS --------------*/
.site-controls {
  display: none;
}

.floating-settings{
  bottom: 10rem;
  position: fixed;
  right: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  z-index: 1000;
}

.settings-toggle, #language-button, #theme-button{
  border: white;
  background-color: var(--cor-black-white);
  border-radius: 50%;
  aspect-ratio: 1;
  color: var(--cor-white-black);
  justify-content: center;
  width: 3rem;
  opacity: 0.2;
}

.settings-menu{

  display:flex;
  flex-direction:column;
  gap:.5rem;

  margin-bottom:.5rem;

  opacity:0;
  transform:translateY(20px);

  pointer-events:none;

  transition:.9s;

}

.settings-menu.show{

  opacity:1;
  transform:translateY(-1rem);
  gap: 1rem;
  pointer-events:auto;

}




/*--------- Shrink --------------*/ 
#hero-shrink{

  position: fixed;
  display: flex;
  bottom: 0;
  top: auto;
  width: 100%;
  max-width: 100%;
  height: 5rem;
  padding: 0;
  background: var(--cor-fundo);

  border-top: 1px solid #dcdcdc;

  z-index: 999;

  box-shadow: 0 -4px 12px rgba(0,0,0,.12);
}

.hero-feats-shrink{
  flex-direction: column-reverse;
  height: 5rem;
  bottom: 0; 
}

.hero-shrink h1{
  font-size: 0.8rem;
  bottom: 0;
  left: 0;
  position: absolute;
}

.hero-feats-shrink ul{
  margin: 0;
  bottom: 0;
  position: absolute;
}

/* ---------------- MENU ---------------- */

.menu-nav-shrink{
  bottom: 2.5rem;
  position: absolute;
  justify-content: center;
  display: flex;
}

/* ---------------- LINKS ---------------- */

.hero-links-shrink {
  flex: 1;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  justify-content: center;
  
}

/*Hero*/

#hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-feats {
  width: 100%;
}  
.hero-links ul{
  flex-direction: row;
  display: flex;
  gap: 0 ;
}
.hero-links li{
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
  justify-content: flex-start;

}

.hero-links a span, .links span{
  display: none;
}

.hero:not(.shrink) .hero-links a:hover,
.hero:not(.shrink) .links:hover {
  width: 0;
}
/*Galeria*/

#project-gallery {
  flex-direction: column;
}
#gallery-preview {
  width: 90vw;
}
#project-site, #project-github {
  margin: 0;
}
}
